@import '../common.scss';

.Input {
  @include horizontal();
  @include spreadApart();
  align-items: baseline;

  label {
    padding-right: $horizontalPaddingSmall;
  }

  input {
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25vh;
    padding: 0.5vh;
  }
}