@import '../common.scss';
@import '../button.scss';

#Modal {
  @include fitViewPort();

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $backgroundShade;

  #ModalDialog {
    @include vertical();
    justify-content: center;
    background-color: white;
    padding: $paddingLarge;
    border-radius: $borderRadius;

    #ModalLabel {
      display: flex;
      justify-content: center;
      align-self: flex-start;
      font-size: 3vh;
      height: 4vh;
    }

    #ModalButtons {
      display: flex;
      align-self: flex-end;
      align-items: center;
      font-size: 2vh;
      padding-top: $verticalPaddingSmall;

      #ModalSubmitButton {
        @include primaryButton();
      }

      #ModalDismissButton {
        @include secondaryButton();
        margin-right: $horizontalPaddingSmall;
      }
    }
  }
}
