@import '../common.scss';

#Modal {
  @include fitViewPort();

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $backgroundShade;

  #ModalDialog {
    @include vertical();
    justify-content: center;
    background-color: white;
    padding: 1.5vh;
    border-radius: 0.5vh;

    #ModalLabel {
      display: flex;
      justify-content: center;
      align-self: flex-start;
      font-size: 3vh;
      height: 4vh;
    }

    #ModalButtons {
      display: flex;
      align-self: flex-end;
      font-size: 2vh;
      height: 4vh;
      align-items: center;

      button {
        height: 3vh;
        padding: 0.5vh 0.5vw;
      }

      #ModalSubmitButton {
        @include primaryColorSet();
        @include clickable();

        font-size: inherit;
        border: none;
        border-radius: $borderRadius;
        box-shadow: $backgroundStrongShade 0 0 0;
        transition: box-shadow $transitionDuration ease-in-out;

        &:hover {
          box-shadow: $backgroundStrongShade 0.15vh 0.15vh 0.1vh;
        }
      }

      #ModalCancelButton {
        background-color: transparent;
        color: $greyOutColor;
        border: none;
        font-size: inherit;
      }
    }
  }
}
