@import '../common.scss';

.ListingHeader {
  @include horizontal();
  padding-top: 2.5vh;
  border-bottom: solid 2.5vh $secondaryColor;

  .label {
    margin-left: 1.5vw;
    padding: 1.5vh 1.5vw;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;

    @include clickable();

    &.active {
      @include secondaryColorSet();
    }
  }
}