@import '../common.scss';
@import '../button.scss';

.OrderDetails {
  @include vertical();

  .OrderDetailsHeader {
    @include horizontal();
    @include spreadApart();
    padding: $paddingLarge;

    .OrderDetailsAddMeal {
      @include primaryButton();
    }

    .OrderDetailsStatus {
      @include horizontal();
      @media screen and (max-width: 640px) {
        @include vertical();
      }
      align-items: center;
      flex-shrink: 0;

      &::before {
        content: 'Status:';
        color: $greyOutColor;
        padding-right: $horizontalPaddingSmall;
      }

      .OrderDetailsStatusState {
        padding: 0 $horizontalPaddingSmall;
        border-width: 0.3vh 0;
        border-style: solid;
        display: inline-flex;
        align-items: center;

        &:first-child {
          border-bottom-left-radius: $borderRadius;
          border-top-left-radius: $borderRadius;
          border-left-width: 0.5vh;
        }

        &:last-child {
          border-bottom-right-radius: $borderRadius;
          border-top-right-radius: $borderRadius;
          border-right-width: 0.5vh;
        }

        &.PastState {
          @include primaryColorSet();
          &+.PastState {
            border-left-width: 0.25vh;
            border-left-color: white;
          }
        }

        &.CurrentState {
          color: $primaryColor;
          border-color: $primaryColor;
        }

        &.FutureState {
          color: $greyOutColor;
          background-color: lightgrey;

          &+.FutureState {
            border-left-width: 0.25vh;
          }
        }

        &::after {

        }

        .fa {
          padding-right: $verticalPaddingSmall;
        }
      }
    }
  }
}