@import '../common.scss';
@import './shared.scss';

.Order {
  @include defaultColorSet();
  @include vertical();
  padding: $paddingLarge;
  box-shadow: $backgroundStrongShade 0.15vh 0.15vh 0.1vh;

  &+.Order {
    margin-top: 1.5vh;
  }

  .OrderSummary {
    @include horizontal();
    @include clickable();
    @include listingRow();
  }

  .OrderExpansionMarker {
    transform: rotate(0deg);
    transition: transform $transitionDuration ease-in-out;
  }

  &.expanded .OrderExpansionMarker {
    transform: rotate(180deg);
  }

}