@import '../common.scss';
@import './shared.scss';

.Order {
  @include defaultColorSet();
  @include vertical();

  &+.Order {
    margin-top: 1.5vh;
  }

  .OrderSummary {
    @include horizontal();
    @include clickable();
    @include listingRow();
  }

  .OrderExpansionMarker {
    transform: rotate(0deg);
    transition: transform $transitionDuration ease-in-out;
  }

  &.expanded .OrderExpansionMarker {
    transform: rotate(180deg);
  }

}