@import '../common.scss';

@mixin listingRow() {
  @include horizontal();
  @include spreadApart();

  &>div:first-child {
    @include horizontal();
    width: 90%;

    div {
      width: 25%;
      &:first-child {
        width: 35%;
      }
    }
  }
}
