.App {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .App .AppTitleBar {
    display: flex;
    flex-direction: row;
    font-size: 3.5vh;
    line-height: 4.75vh;
    padding: 2vh 2vw;
    text-align: left;
    background-color: #008ec2;
    border-color: #008ec2;
    color: white; }
