@import './common.scss';

@mixin button() {
  @include clickable();
  padding: $paddingSmall;
  border: none;
  border-radius: $borderRadius;
  font-size: inherit;
  white-space: nowrap;
}

@mixin primaryButton() {
  @include button();
  @include primaryColorSet();

  box-shadow: $backgroundStrongShade 0 0 0;
  transition: box-shadow $transitionDuration ease-in-out;

  &:hover {
    box-shadow: $backgroundStrongShade 0.15vh 0.15vh 0.1vh;
  }
}

@mixin secondaryButton() {
  @include button();

  background-color: white;
  color: $greyOutColor;
  border: none;
  font-size: inherit;
}
