// Colors

$primaryColor: #008ec2;
$secondaryColor: #e8f9ff;
$greyOutColor: lightgrey;
$backgroundShade: rgba(0, 0, 0, 0.25);
$backgroundStrongShade: rgba(0, 0, 0, 0.5);

@mixin primaryColorSet() {
  background-color: $primaryColor;
  color: white;
}

@mixin secondaryColorSet() {
  background-color: $secondaryColor;
  color: black;
}

@mixin defaultColorSet() {
  background-color: white;
  color: black;
}

// Fonts

// Transitions

$transitionDuration: 0.15s;

// Sizes

$borderRadius: 0.25vh;

// Layout

@mixin vertical() {
  display: flex;
  flex-direction: column;
}

@mixin horizontal() {
  display: flex;
  flex-direction: row;
}

@mixin fitViewPort() {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// Auxiliary

@mixin clickable() {
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}
